<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSV_HOME</title>
</head>
<body>
<h1>CSV_HOME</h1>
<a href="{% url 'csv_simple_write' %}"><h2>csv_simple_write</h2></a>
<a href="{% url 'csv_dictionary_write' %}"><h2>csv_dictionary_write</h2></a>
<a href="{% url 'csv_database_write' %}"><h2>csv_database_write</h2></a>
<a href="{% url 'csv_readfile' %}"><h2>csv_readfile (view in terminal)</h2></a>
</body>
</html>